
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favo.png">

    <title>悦尔钢琴艺术中心</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">


        <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/crm/leads.html">售前管理</a></li>
            <li role="presentation"><a href="/crm/member.html">售后管理</a></li>
            <li role="presentation"><a href="/crm/course_show.html">课表</a></li>
            <li role="presentation" class="active"><a href="/crm/course_mgt.html">课表管理</a></li>
            <li role="presentation" ><a href="/crm/sign_out.html">登出</a></li>
            <li role="presentation" ><a href="/crm/login.html">登录</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">悦尔钢琴艺术中心</h3>
      </div>

  <form>
 
    <div class="form-group">
    <label for="exampleInputName2">小名</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="请填写小名">
  </div>
  <div class="form-group">
    <label for="exampleInputName2">年龄</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="请填写年龄">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail2">性别</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="请填写性别">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">住址</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="请填写住址">
  </div>

    <div class="form-group">
    <label for="exampleInputName2">备注</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="请填写备注">
  </div>
   <div class="form-group">
    <label for="exampleInputName2">是否体验</label>
    <select>
        <option>是</option>
        <option>否</option>
    </select>
  </div>
   <div class="form-group">
    <label for="exampleInputName2">体验课时间</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="请选择体验课时间">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">体验课老师</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="请选择体验课老师">
  </div>

  <button type="submit" class="btn btn-default">提交</button>
</form>

      <footer class="footer">
        <p>&copy; 2016 悦尔钢琴艺术中心</p>
      </footer>

    </div>

  </body>
</html>

