<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favo.png">

    <title>悦尔钢琴艺术中心</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script  src="/static/js/jquery.js"></script>
    <script  src="/static/js/bootstrap.js"></script>
  </head>

  <body>

    <div class="container">
    
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/crm/leads.html">售前管理</a></li>
            <li role="presentation"><a href="/crm/member.html">售后管理</a></li>
            <li role="presentation"><a href="/crm/course_show.html">课表</a></li>
            <li role="presentation"><a href="/crm/course_mgt.html">课表管理</a></li>
            <li role="presentation" ><a href="/crm/sign_out.html">登出</a></li>
            <li role="presentation" ><a href="/crm/login.html">登录</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">悦尔钢琴艺术中心</h3>
      </div>
	
	

   			<ul class="list-group">
  				<li class="list-group-item">姓名：李彦超</li>
  				<li class="list-group-item">小名：验钞</li>
  				<li class="list-group-item">年龄：18</li>
  				<li class="list-group-item">体验课时间：xxxxxxxx</li>
			</ul>




      <footer class="footer">
        <p>&copy; 2016 悦尔钢琴艺术中心</p>
      </footer>

    </div>

  </body>
</html>

