<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favo.png">

    <title>悦尔钢琴艺术中心</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script  src="/static/js/jquery.js"></script>
    <script  src="/static/js/bootstrap.js"></script>
  </head>

  <body>

    <div class="container">
    
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/crm/leads.html">售前管理</a></li>
            <li role="presentation"><a href="/crm/member.html">售后管理</a></li>
            <li role="presentation"><a href="/crm/course_show.html">课表</a></li>
            <li role="presentation"><a href="/crm/course_mgt.html">课表管理</a></li>
            <li role="presentation" ><a href="/crm/sign_out.html">登出</a></li>
            <li role="presentation" ><a href="/crm/login.html">登录</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">悦尔钢琴艺术中心</h3>
      </div>

    <div class="row">
        <div class="col-lg-4">
        <form class="form-inline" action="/crm/leads_filter.html" method="get">
            <select class="form-control" name="filter_type">
           	   <option value="all">请选择</option>
               <option value="new">新导入</option>
               <option value="nappoints">已约未到约</option>
               <option value="appoints">已到约</option>
               <option value="all">全部</option>
            </select>
            <button type="submit" class="btn btn-success">筛选</button>
        </form>
        </div>
        <div class="col-lg-4">
        <form class="form-inline" enctype="multipart/form-data" action="/crm/leads_upload.html" method="post">
        	{% csrf_token %}
            <input type="file" class="info" name="fileupload"/>
            <button type="submit" class="btn btn-success">上传</button>
        </form>
        </div>
    </div>

      <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>电话</th>
                  <th>小名</th>
                  <th>性别</th>
                  <th>年龄</th>
                  <th>住址</th>
                  <th>是否体验</th>
                  <th>是否到约</th>
                  <th>体验课时间</th>
                  <th>体验课老师</th>
                  <th>销售</th>
                  <th>备注</th>
                  <th>备注时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
             
              {% if customer_list %}
              
    				{% for customer in customer_list %}
    				{% ifequal customer.is_expr 'Y'%}
    					{% ifequal customer.is_appoints 'Y'%}
       					<tr class="success">
       					{% else %}
       					<tr class="info">
       					{% endifequal%}
       				{% else %}
       					<tr class="danger">
       				{% endifequal%}
                  		<td rowspan="{{customer.remark_size}}">{{customer.name}}</td>
                  		<td rowspan="{{customer.remark_size}}">{{customer.mobile_no}}</td>
                  		<td rowspan="{{customer.remark_size}}">{{customer.nick_name}}</td>
                  		<td rowspan="{{customer.remark_size}}">{{customer.gender}}</td>
                		<td rowspan="{{customer.remark_size}}">{{customer.age}}</td>
                  		<td rowspan="{{customer.remark_size}}">{{customer.address}}</td>
                  		<td rowspan="{{customer.remark_size}}">{{customer.is_expr}}</td>
                		<td rowspan="{{customer.remark_size}}">{{customer.is_appoints}}</td>
                  		<td rowspan="{{customer.remark_size}}">{% if customer.expr_time %}{{customer.expr_time}}{% endif %}</td>
                  		<td rowspan="{{customer.remark_size}}">{{customer.teacher_name}}</td>
                  		<td rowspan="{{customer.remark_size}}">{{customer.sales_name}}</td>
                  		<td>{{ customer.first_remark.remark }}</td>
                  		<td>{{ customer.first_remark.remark_time }}</td>
                  		<td rowspan="{{customer.remark_size}}">
                  		<a class="btn btn-default" href="./reservation.html?cust_id={{customer.id}}" role="button">预约</a><br/>
                  		<a class="btn btn-default" href="./appoints.html?cust_id={{customer.id}}" role="button">到约</a><br/>
                  		<a class="btn btn-default" href="./remark.html?cust_id={{customer.id}}" role="button">备注</a>
                  		</td>
                	</tr>
                	{% if customer.remark_list %}
                	{% for remark in customer.remark_list %}
                	{% ifequal customer.is_expr 'Y'%}
    					{% ifequal customer.is_appoints 'Y'%}
       					<tr class="success">
       					{% else %}
       					<tr class="info">
       					{% endifequal%}
       				{% else %}
       					<tr class="danger">
       				{% endifequal%}
                		<td>{{remark.remark}}</td>
                  		<td>{{remark.remark_time}}</td>
                	</tr>                	
       				{% endfor %}
       				{% endif %}
   					{% endfor %}
  
			  {% endif %}  

              </tbody>
            </table>
            <ul class="pagination">
            {% if customer_list.has_previous %}
           	<li><a href="?page={{ customer_list.previous_page_number }}&filter_type={{ filter_type }}">上一页</a></li>
        	{% endif %}
        	
        	{% if customer_list.paginator.num_pages %}
        	{% for page in page_list %}
        	<li><a href="?page={{ page }}&filter_type={{ filter_type }}">{{page}}</a></li>
        	{% endfor %}
        	{% endif %}
        	
        	{% if customer_list.has_next %}
            <li><a href="?page={{ customer_list.next_page_number }}&filter_type={{ filter_type }}">下一页</a></li>
        	{% endif %}
        	<li><a>当前页为第 {{ customer_list.number }}页，共{{ customer_list.paginator.num_pages }}页</a></li>
			</ul>
          </div>


      <footer class="footer">
        <p>&copy; 2016 悦尔钢琴艺术中心</p>
      </footer>

    </div>

  </body>
</html>

